@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
